@import url('https://fonts.googleapis.com/css2?family=Rye&family=Lora&display=swap');

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, black, #0000FF, #ADD8E6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: antiquewhite;
    font-family: 'Lora', serif;
    overflow: hidden; 
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: 80%;
    max-width: 600px;
    
}

.title {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Rye', cursive;
    letter-spacing: 1px;
}

p {
    font-size: 20px;
    margin-top: 10px;
}

label {
    font-size: 20px;
    margin-right: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

#guess-input {
    width: 85%;
    padding: 12px;
    font-size: 18px;
    text-align: center;
    border: 3px solid #0056b3;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
}

#guess-button {
    width: 90%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:#a30f59;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#guess-button:hover {
    background-color: #330c27;
    transform: scale(1.05);
}

#message {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.language-icons {
    margin-top: 20px;
    margin-bottom: 5px;
}

.language-icon {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid transparent;
    transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
}

.language-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.letter-block {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    background: white;
    color: black;
    border: 3px solid #a30f59;
    border-radius: 5px;
}

#restart-btn, #home-btn {
    width: 90%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

#restart-btn {
    background: linear-gradient(to right, #ff416c, #ff2bf4);
}

#home-btn {
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}

#restart-btn:hover, #home-btn:hover {
    transform: scale(1.05);
}
